:root {
    --primary-color:#161616ff;
    --primary-red:#c01e2fff;
--navbar-color: #0a0a0beb;
    --span-background:#ffffff2f;
    --card-color:#e2e2e2ff;
    --navbar-background:#1616169e;
    --shadow:#00000021;
    --promotion-background:#fcecedff;
    --body-background:radial-gradient(
        
        circle at top,
    rgba(201, 30, 45, 0.04),
        #f7f7f7 40%,
        #f1f1f1 100%
    );
    --border:#00000007;
    --section-background:#E8E4E1;
    --card_user-hover-background:#8080801f;
}   